@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .sidebar-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .sidebar-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 2px;
  }
  .sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}
